.post
  width 70%
  margin 14px 8px
  font-family sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight normal
  color rgba(39, 39, 39, 1)
  border 1px solid rgba(0, 0, 0, 0.1)
  box-sizing border-box

.post-content
  height 160px
  padding 10px
  position relative
  box-sizing border-box

.post-content-left,
.post-content-right
  display inline-block
  box-sizing border-box

.post-content-left
  width 70%
  height: 100%;

.post-content-right
  width 20%
  height 100%
  position absolute
  top 0
  right 0

.post-content-left__author
  font-size 12px
  position absolute
  top 0
  box-sizing border-box
  font-family Montserrat-500

.post-content-left__main
  margin 20px 0

.post-content-left__main-title
  margin-bottom 12px
  font-size 20px
  font-family Montserrat-700

.post-content-left__main-subtitle
  margin-bottom 8px
  font-size 14px
  font-family Montserrat-600

.post-content-left__main-content
  position relative
  height 44px
  line-height 22px
  overflow hidden
  font-family Ambit

.post-content-left__date
  margin-top 10px
  font-size 12px
  font-family Montserrat-500

.post-content-right__image
  width 200px
  height 140px
  margin-left auto
  margin-top 10px
  background-size cover